.normal-blue {
  color: white;
  font-weight: 700;
  font-style: normal;
  background-color: #003366;
}

.normal-blue:hover {
  background-color: rgba(43, 91, 164, 1);
  color: white;
}

.normal-white {
  color: #003366;
  min-width: 150px;
  min-height: 40px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(204, 204, 204, 1);
}

.normal-white:hover {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(242, 242, 242, 1);
  border-color: rgba(204, 204, 204, 1);
}

.consistent-width {
  width: 270px;
}
