.display-box {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.no-padding-bottom {
  padding: 10px;
  padding-bottom: 0px !important;
}

.display-icon {
  padding-right: 15px;
}

.display-right-element {
  width: 100%;
  padding-top: 3px;
}

.display-left-element {
  padding-left: 0px !important;
}

.grey-background {
  background-color: lightgrey;
}

.blue-background {
  background-color: rgba(225, 232, 242, 1);
}

.border-background {
  border-width: thin;
  border-style: solid;
  border-color: lightgrey;
}

.react-icons {
  vertical-align: middle;
}
