.display-box {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.display-icon {
  padding-right: 15px;
}

.display-element {
  width: 100%;
}

.grey-background {
  background-color: lightgrey;
}

.blue-background {
  background-color: rgba(225, 232, 242, 1);
}

.react-icons {
  vertical-align: middle;
}
