<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="LOGS_PATH" source="logging.path"/>
    <springProperty scope="context" name="SPLUNK_URL" source="splunk.url"/>
    <springProperty scope="context" name="SPLUNK_TOKEN" source="splunk.token"/>
    <springProperty scope="context" name="SPLUNK_SOURCE" source="splunk.source"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <conversionRule conversionWord="tid" converterClass="org.apache.skywalking.apm.toolkit.log.logback.v1.x.LogbackPatternConverter"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr([%tid]%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    
    <!--STDOUT-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--Splunk-->
    <if condition='isDefined("SPLUNK_URL")'>
        <then>
            <appender name="splunk" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
                <url>${SPLUNK_URL}</url>
                <token>${SPLUNK_TOKEN}</token>
                <source>efiling_reviewer-api</source>
                <host>${HOSTNAME}</host>
                <sourcetype>app-logs</sourcetype>
                <middleware>HttpEventCollectorUnitTestMiddleware</middleware>
                <disableCertificateValidation>true</disableCertificateValidation>
                <batch_size_count>1</batch_size_count>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%msg</pattern>
                </layout>
            </appender>
        </then>
    </if>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
        <if condition='isDefined("SPLUNK_URL")'>
            <then>
                <appender-ref ref="splunk"/>
            </then>
        </if>
    </root>
</configuration>
