{
  "env": {
    "test": {
      "presets": [
        "@babel/preset-react",
        "@babel/preset-env"
        
      ],
      "plugins": [
        "@babel/plugin-syntax-jsx",
        "transform-export-extensions"
      ],
      "only": [
        "./**/*.js",
        "node_modules/jest-runtime"
      ]
    }
  }
}
