version: "3.7"
services:
  #############################################################################################
  ###                                 EFILING FRONTEND                                      ###
  #############################################################################################
  efiling-frontend:
    # need stdin_open:true because there is an issue with container being auto exited after startup with react-scripts 3.4.1
    stdin_open: true
    container_name: efiling-frontend
    build:
      context: ./src/frontend
      args:
        - SERVICE_NAME=efiling-frontend
    ports:
      - 3000:3000

  #############################################################################################
  ###                                 EFILING DEMO                                          ###
  #############################################################################################
  efiling-demo:
    # need stdin_open:true because there is an issue with container being auto exited after startup with react-scripts 3.4.1
    stdin_open: true
    container_name: efiling-demo
    build:
      context: ./src/frontend
      args:
        - SERVICE_NAME=efiling-demo
    ports:
      - 3001:3000

  #############################################################################################
  ###                           Efiling api backend app                                     ###
  #############################################################################################
  efiling-api:
    build:
      context: ./src/backend
      args:
        - SERVICE_NAME=efiling-api
        - MVN_PROFILE=${MVN_PROFILE:-demo}
    ports:
      - "8080:8080"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=admin
      - NAVIGATION_BASE_URL=http://localhost:3000/efiling
      - NAVIGATION_EXPIRYTIME=10
      - CSO_ACCOUNTFACADE_USERNAME=${CSO_ACCOUNTFACADE_USERNAME}
      - CSO_ACCOUNTFACADE_PASSWORD=${CSO_ACCOUNTFACADE_PASSWORD}
      - CSO_ACCOUNTFACADE_URI=${CSO_ACCOUNTFACADE_URI}
      - CSO_ROLEREGISTRY_USERNAME=${CSO_ROLEREGISTRY_USERNAME}
      - CSO_ROLEREGISTRY_PASSWORD=${CSO_ROLEREGISTRY_PASSWORD}
      - CSO_ROLEREGISTRY_URI=${CSO_ROLEREGISTRY_URI}
      - CSO_LOOKUPFACADE_USERNAME=${CSO_LOOKUPFACADE_USERNAME}
      - CSO_LOOKUPFACADE_PASSWORD=${CSO_LOOKUPFACADE_PASSWORD}
      - CSO_LOOKUPFACADE_URI=${CSO_LOOKUPFACADE_URI}
      - BCEID_LOOKUP_USERNAME=${BCEID_LOOKUP_USERNAME}
      - BCEID_LOOKUP_PASSWORD=${BCEID_LOOKUP_PASSWORD}
      - BCEID_LOOKUP_URI=${BCEID_LOOKUP_URI}
    networks:
      - fisu-net

  #############################################################################################
  ###                                 REDIS SERVER                                          ###
  #############################################################################################
  redis:
    container_name: redis
    image: redis
    command: redis-server --requirepass admin
    ports:
      - "6379:6379"
    volumes:
      - data-redis:/data
    restart: always
    networks:
      - fisu-net

  #############################################################################################
  ###                                 REDIS COMMANDER                                       ###
  #############################################################################################
  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    restart: always
    environment: 
      - REDIS_PORT=6379
      - REDIS_HOST=redis
      - REDIS_PASSWORD=admin
    ports:
      - "8082:8081"
    networks:
      - fisu-net

  #############################################################################################
  ###                             RABBIT MQ SERVER                                          ###
  #############################################################################################
  rabbitmq:
    image: rabbitmq:3.7.15-management
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - data-rabbit:/var/lib/rabbitmq/mnesia/rabbit@app-rabbitmq:cached
    restart: always
    networks:
      - fisu-net

  #############################################################################################
  ###                                        KEYCLOAK                                       ###
  #############################################################################################

  keycloak:
    image: jboss/keycloak
    environment:
      DB_VENDOR: H2
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      KEYCLOAK_IMPORT: /tmp/realm-export.json
      # Uncomment the line below if you want to specify JDBC parameters. The parameter below is just an example, and it shouldn't be used in production without knowledge. It is highly recommended that you read the PostgreSQL JDBC driver documentation in order to use it.
      #JDBC_PARAMS: "ssl=true"
    volumes:
      - ./.settings/realm-export.json:/tmp/realm-export.json
    ports:
      - 8081:8080
    command: ["-Dkeycloak.profile.feature.upload_scripts=enabled"]

volumes:
  data-redis:
  data-rabbit:

networks:
  fisu-net:
    driver: "bridge"
