version: "3.7"
services:
  #############################################################################################
  ###                                 EFILING FRONTEND                                      ###
  #############################################################################################
  efiling-frontend:
    container_name: efiling-frontend
    ports:
      - 3000:8080
    environment:
      - REACT_APP_KEYCLOAK_REALM=${KEYCLOAK_REALM:-Efiling-Hub}
      - REACT_APP_KEYCLOAK_CLIENT_ID=efiling-frontend
      - REACT_APP_KEYCLOAK_URL=${KEYCLOAK_URL:-http://localhost:8081/auth}
      - REACT_APP_API_BASE_URL=http://localhost:8080
      - REACT_APP_BAMBORA_REDIRECT_URL=http://localhost:3000/efilinghub
      - REACT_APP_CSO_BASE_URL=http://localhost/cso
      - REACT_APP_RUSH_TAB_FEATURE_FLAG=true

  #############################################################################################
  ###                                 EFILING DEMO                                          ###
  #############################################################################################
  efiling-demo:
    container_name: efiling-demo
    build:
      context: ./src/frontend/efiling-demo
    environment:
      - REACT_APP_KEYCLOAK_REALM=Efiling-Hub
      - REACT_APP_KEYCLOAK_CLIENT_ID=efiling-admin
      - REACT_APP_KEYCLOAK_URL=http://localhost:8081/auth
      - REACT_APP_API_BASE_URL=http://localhost:8080
      - REACT_APP_BAMBORA_REDIRECT_URL=http://localhost:3000/efilinghub
    ports:
      - 3001:8080      

  #############################################################################################
  ###                           Efiling api backend app                                     ###
  #############################################################################################
  efiling-api:
    container_name: efiling-api
    hostname: efiling-api
    ports:
      - "8080:8080"
    environment:
      - BAMBORA_APIPASSCODE=${BAMBORA_APIPASSCODE:-passcode}
      - BAMBORA_MERCHANTID=${BAMBORA_MERCHANTID-merchantid}
      - BAMBORA_PROFILE_URL=${BAMBORA_PROFILE_URL:-http://localhost:3001/updatecard}
      - BAMBORA_HASHKEY=${BAMBORA_HASHKEY:-key}
      - BAMBORA_PROFILE_SERVICE_VERSION=${BAMBORA_PROFILE_SERVICE_VERSION}
      - BAMBORA_URL_EXPIRY=10

      - KEYCLOAK_AUTH_SERVER_URL=${KEYCLOAK_AUTH_SERVER_URL:-http://localhost:8081/auth/realms/Efiling-Hub}
      - KEYCLOAK_JWK_SERVER_URL=${KEYCLOAK_JWK_SERVER_URL:-http://keycloak:8080/auth/realms/Efiling-Hub}
      - KEYCLOAK_REALM=${KEYCLOAK_RESOURCE:-efiling-api}

      - CSO_ACCOUNTFACADE_URI=${CSO_ACCOUNTFACADE_URI}
      - CSO_ACCOUNTFACADE_USERNAME=${CSO_ACCOUNTFACADE_USERNAME}
      - CSO_ACCOUNTFACADE_PASSWORD=${CSO_ACCOUNTFACADE_PASSWORD}
      - CSO_ROLEREGISTRY_USERNAME=${CSO_ROLEREGISTRY_USERNAME}
      - CSO_ROLEREGISTRY_PASSWORD=${CSO_ROLEREGISTRY_PASSWORD}
      - CSO_ROLEREGISTRY_URI=${CSO_ROLEREGISTRY_URI}
      - CSO_LOOKUPFACADE_USERNAME=${CSO_LOOKUPFACADE_USERNAME}
      - CSO_LOOKUPFACADE_PASSWORD=${CSO_LOOKUPFACADE_PASSWORD}
      - CSO_LOOKUPFACADE_URI=${CSO_LOOKUPFACADE_URI}
      - CSO_BCEIDSERVICE_URI=${CSO_BCEIDSERVICE_URI}
      - CSO_FILINGSTATSFACADE_URI=${CSO_FILINGSTATSFACADE_URI}
      - CSO_FILINGSTATSFACADE_USERNAME=${CSO_FILINGSTATSFACADE_USERNAME}
      - CSO_FILINGSTATSFACADE_PASSWORD=${CSO_FILINGSTATSFACADE_PASSWORD}
      - CSO_BCEIDSERVICE_USERNAME=${CSO_BCEIDSERVICE_USERNAME}
      - CSO_BCEIDSERVICE_PASSWORD=${CSO_BCEIDSERVICE_PASSWORD}
      - CSOWS_USERNAME=${CSOWS_USERNAME}
      - CSOWS_PASSWORD=${CSOWS_PASSWORD}
      - CSOWS_URI=${CSOWS_URI}
      - CSO_FILINGFACADE_URI=${CSO_FILINGFACADE_URI}
      - CSO_FILINGFACADE_PASSWORD=${CSO_FILINGFACADE_PASSWORD}
      - CSO_FILINGFACADE_USERNAME=${CSO_FILINGFACADE_USERNAME}
      - CSO_SERVICEFACADE_URI=${CSO_SERVICEFACADE_URI}
      - CSO_SERVICEFACADE_USERNAME=${CSO_SERVICEFACADE_USERNAME}
      - CSO_SERVICEFACADE_PASSWORD=${CSO_SERVICEFACADE_PASSWORD}

      - SFTP_KNOWNHOSTS=${SFTP_KNOWNHOSTS}
      - SFTP_REMOTELOCATION=${SFTP_REMOTELOCATION}
      - SFTP_PRIVATE_KEY=${SFTP_PRIVATE_KEY}

      - BCEID_SERVICE_URI=${BCEID_SERVICE_URI}
      - BCEID_SERVICE_USERNAME=${BCEID_SERVICE_USERNAME}
      - BCEID_SERVICE_PASSWORD=${BCEID_SERVICE_PASSWORD}
      - BCEID_SERVICE_ONLINE_SERVICE_ID=${BCEID_SERVICE_ONLINE_SERVICE_ID}

      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=admin

      - NAVIGATION_BASE_URL=http://localhost:3000/efilinghub
      - NAVIGATION_EXPIRYTIME=10

      - CLAMAV_HOST=clamav
      - CLAMAV_TIMEOUT=150000

      - MVN_PROFILE=${MVN_PROFILE}
      - STARTERS_V=${STARTERS_V}

    networks:
      - fisu-net

  #############################################################################################
  ###                                 REDIS SERVER                                          ###
  #############################################################################################
  redis:
    container_name: efiling_redis
    image: redis
    command: redis-server --requirepass admin
    ports:
      - "6379:6379"
    volumes:
      - data-redis:/data
    restart: always
    networks:
      - fisu-net

  #############################################################################################
  ###                                 REDIS COMMANDER                                       ###
  #############################################################################################
  redis-commander:
    container_name: efiling_redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_PORT=6379
      - REDIS_HOST=redis
      - REDIS_PASSWORD=admin
    ports:
      - "8082:8081"
    networks:
      - fisu-net

  # #############################################################################################
  # ###                                        KEYCLOAK                                       ###
  # #############################################################################################
  keycloak:
    image: quay.io/keycloak/keycloak:26.1.3
    environment:
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME_STRICT_HTTPS=false
      - KEYCLOAK_SSL_REQUIRED=none
      - KC_HOSTNAME_STRICT_BACKCHANNEL=false
      - KC_PROXY_HEADERS=xforwarded
      - KC_HOSTNAME=localhost
      - KC_HTTP_RELATIVE_PATH=/auth
      - KC_HOSTNAME_PORT=8080
      - DB_VENDOR=H2
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_DIR=/opt/keycloak/data/import
    volumes:
      - ./infrastructure/keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
    ports:
      - 8081:8080
    restart: always
    command: start --import-realm
    networks:
      - fisu-net

  # #############################################################################################
  # ###                                        KEYCLOAK Config                                ###
  # #############################################################################################
  keycloak-config:
    command: sh -c "dockerize -timeout 300s /tmp/createuser.sh"
    networks:
      - fisu-net

  #############################################################################################
  ###                             CLAMAV                                                    ###
  #############################################################################################
  clamav:
    image: mk0x/docker-clamav
    ports:
      - "3310:3310"
    networks:
      - fisu-net

volumes:
  data-redis:
    driver: local
  data01:
    driver: local
  mongo-volume:

networks:
  fisu-net:
    driver: "bridge"
