.document-type-list {
  .table-header {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
  }
  ul {
    margin: 5px 0px;
    padding: 0px;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    border: 1px solid #bfbfbf;
    padding: 10px 0px;
    margin: 10px 0px;
  }
  .label {
    font-weight: bold;
    margin-bottom: 0px;
  }
  svg {
    margin-right: 10px;
    vertical-align: top;
  }
  @media screen and (max-width: 575px) {
    .pull-right {
      text-align: right;
    }
  }
}
