.document-type-editor {
  margin: 20px;
  max-width: 1000px;

  .btn {
    margin: 20px 0px;
  }
  .error {
    color: red;
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
}
