.text-input {
  font-family: "Noto Sans", Verdana, Arial, sans-serif;
  font-size: 18px;
  border: 2px solid #606060;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 5px;
  resize: none;
  max-width: 100%;
}

.text-input:focus {
  outline: 4px solid #3b99fc;
  outline-offset: 1px;
}

.text-label {
  display: flex;
}
