body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.file-href {
  cursor: pointer;
  color: #1a5a96;
  text-decoration: underline;
}

.file-href:focus {
  outline: 1px dashed grey;
}