.ct-package-review {
  .align-icon {
    margin-left: 10px;
    vertical-align: text-top;
  }
  .registry-align {
    margin-top: 15%;
  }
  .tabContent {
    border: 1px solid grey;
    padding: 10px;
    margin-top: 10px;
    white-space: pre-line;
  }
  .note.row, .buttons.row {
    margin: 0px 0px 10px 0px;
  }

  /* REMOVE-ME when replacing bootstrap Tabs for common-components Tabs */
  :focus {
    outline: none;
  }
  .fw-bold {
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .download-alert {
      position: fixed !important;
      width: 85%;
      top: 100px;
    }
  }
}
