.success-background {
  background-color: #e7f7ea;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #2e8540;
}

.warning-background {
  background-color: rgb(252, 247, 228);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(252, 186, 25);
}

.error-background {
  background-color: #f8dee0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #d8292f;
}

.info-background {
  background-color: #d9eaf7;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #313132;
}
