.half-width {
  width: 50%;
}

.court-half-width {
  width: 50%;
}

.button-container {
  justify-content: space-between;
  display: flex;
}

.normal-blue-ml {
  margin-left: 1rem;
}

@media (max-width: 576px) {
  .button-container {
    justify-content: space-between;
    display: flex;
  }
}

@media (max-width: 1200px) {
  .half-width {
    width: 80%;
  }
}
