table {
  width: 100%;
}

td {
  vertical-align: top;
  padding: 3px;
  white-space: pre-wrap;
}

.blue-stripe tbody tr:nth-child(even) {
  background: rgba(241, 244, 250, 1);
}

.blue-stripe tbody tr:nth-child(odd) {
  background: rgba(225, 232, 242, 1);
}

.side-by-side {
  width: 60%;
}

.empty-row td {
  border-bottom: 1px solid black;
}

.right-align {
  text-align: right;
}
