.heading-style {
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}

.bluegrey-heading {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 9px;
}

.bluegrey-heading h2 {
  margin-bottom: 0px;
}

.bluegrey-content {
  height: auto;
  background: inherit;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding-top: 15px;
}

.content-style {
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.container-background {
  background-color: rgba(56, 89, 138, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-align: left;
}

.submitted-header h2 {
  color: #fff !important;
}

.submitted-content {
  background-color: #eee;
  padding: 30px;
  margin-bottom: 20px;
}

.submit-container {
  background-color: #38598a;
  border-bottom: solid 4px #fc0;
  color: #fff;
  margin-bottom: 20px;
  padding: 30px;
}

.bluegrey-container {
  margin-bottom: 20px;
}

.submit-container h2 {
  color: #fff;
}

.dashboard-spacing {
  padding-left: 50px;
  max-width: 400px;
}

.wide-dashboard-spacing {
  padding-left: 50px;
  max-width: 458px;
}

img {
  max-width: 100%;
}

@media (max-width: 575.98px) {
  .dashboard-spacing {
    padding-left: 10px;
    padding-right: 10px;
  }

  .wide-dashboard-spacing {
    padding-left: 0;
  }
}

@media (max-width: 950px) {
  .side-card-title {
    padding-top: 0px !important;
  }
}

.side-card-row {
  white-space: nowrap;
  display: flex;
}

.side-card-icon {
  width: 35px;
  height: 35px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.round-icon-wrapper {
  padding-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.side-card-title {
  font-size: 20px;
  font-weight: Semi-bold;
  width: 100%;
  white-space: normal;
  padding-top: 10px;
}

.large-title {
  font-size: 20px;
  font-weight: Semi-bold;
  width: 80%;
  white-space: normal;
  padding-top: 0 !important;
}
