html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  flex-grow: 1;
  margin-top: 100px;
}

.header-div {
  z-index: 1500 !important;
}

@media (max-width: 1610px) and (min-width: 960px) {
  .content {
    padding-left: 210px !important;
  }
}
