server:
  port: ${SERVER_PORT:8080}
spring:
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    password: ${REDIS_PASSWORD:admin}
  cache:
    redis:
      time-to-live: ${CACHE_TTL:600000}
keycloak:
  auth-server-url: ${KEYCLOAK_AUTH_SERVER_URL}
  realm: ${KEYCLOAK_REALM}
  resource: ${KEYCLOAK_RESOURCE}
  credentials:
    secret: ${KEYCLOAK_CREDENTIALS_SECRET}
  use-resource-role-mappings: true
  bearer-only: true
  ssl-required: ${KEYCLOAK_SSL_REQUIRED:external}
jag:
  efiling:
    global:
      demo: ${DEMO_MODE:false}
    navigation:
      baseUrl: ${NAVIGATION_BASE_URL:http://localhost:3000/efiling}
    soap:
      clients:
        - client: ACCOUNT
          userName: ${CSO_ACCOUNTFACADE_USERNAME}
          password: ${CSO_ACCOUNTFACADE_PASSWORD}
          uri: ${CSO_ACCOUNTFACADE_URI:http://localhost:8091}
        - client: ROLE
          userName: ${CSO_ROLEREGISTRY_USERNAME}
          password: ${CSO_ROLEREGISTRY_PASSWORD}
          uri: ${CSO_ROLEREGISTRY_URI:http://localhost:8091}
        - client: LOOKUP
          userName: ${CSO_LOOKUPFACADE_USERNAME}
          password: ${CSO_LOOKUPFACADE_PASSWORD}
          uri: ${CSO_LOOKUPFACADE_URI:http://localhost:8091}
        - client: STATUS
          userName: ${CSO_FILINGSTATSFACADE_USERNAME}
          password: ${CSO_FILINGSTATSFACADE_PASSWORD}
          uri: ${CSO_FILINGSTATSFACADE_URI:http://localhost:8091}
        - client: CSOWS
          userName: ${CSOWS_USERNAME}
          password: ${CSOWS_PASSWORD}
          uri: ${CSOWS_URI:http://localhost:8091}
        - client: FILING
          userName: ${CSO_FILINGFACADE_USERNAME}
          password: ${CSO_FILINGFACADE_PASSWORD}
          uri: ${CSO_FILINGFACADE_URI:http://localhost:8091}
        - client: SERVICE
          userName: ${CSO_SERVICEFACADE_USERNAME}
          password: ${CSO_SERVICEFACADE_PASSWORD}
          uri: ${CSO_SERVICEFACADE_URI:http://localhost:8091}

bambora:
  apiPasscode: ${BAMBORA_APIPASSCODE}
  merchantId: ${BAMBORA_MERCHANTID}

bcgov:
  sftp:
    host: ${SFTP_HOST:localhost}
    port: ${SFTP_PORT:22}
    username: ${SFTP_USERNAME:admin}
    password: ${SFTP_PASSWORD:admin}
    allowUnknownKeys: true

info:
  app:
    name: @project.name@
    description: @project.description@
    version: @project.version@
opentracing:
  jaeger:
    service-name: efilingApi
    enabled: TRUE
    udp-sender:
      host: localhost
