<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.access.PatternLayout">
            <Pattern>combined</Pattern>
        </layout>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.access.net.URLEvaluator">
                <URL>/health</URL>
                <!-- add more URLs as needed -->
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
    </appender>

    <appender-ref ref="STDOUT" />

    <springProfile name="splunk">

        <appender name="http" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
            <url>${SPLUNK_URL}</url>
            <token>${SPLUNK_TOKEN}</token>
            <source>jag-efiling-api</source>
            <sourcetype>jag-efiling-access-logs</sourcetype>
            <middleware>HttpEventCollectorUnitTestMiddleware</middleware>
            <disableCertificateValidation>true</disableCertificateValidation>
            <batch_size_count>1</batch_size_count>
            <layout class="ch.qos.logback.access.PatternLayout">
                <pattern>combined</pattern>
            </layout>
        </appender>

        <appender-ref ref="http" />

    </springProfile>

</configuration>
