.align-icon {
  margin-left: 10px;
  vertical-align: text-top;
}
.tabContent {
  border: 1px solid grey;
  padding: 10px;
  margin-top: 10px;
}
.file-href {
  cursor: pointer;
  color: #1a5a96;
  text-decoration: underline;
}

/* REMOVE-ME when replacing bootstrap Tabs for common-components Tabs */
:focus {
  outline: none;
}
