main {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 100vh;
  position: relative;
}

.page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.content {
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidecard {
  width: 100%;
}

@media (max-width: 576px) {
  .page {
    flex-direction: column;
  }

  .normal-white {
    min-width: 0px;
  }

  .normal-blue {
    min-width: 0px;
    margin-left: 0.6rem;
  }
}

@media (min-width: 576px) {
  footer {
    bottom: 0px;
    left: 0;
    width: 100%;
    position: absolute;
  }
  .page {
    padding-bottom: 63px;
  }
}

.fit-table {
  width: 60%;
  min-width: fit-content;
}

.buttons {
  display: flex;
  justify-content: space-between;
  float: right;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

.bcgov-button {
  min-width: 0;
}
