name: Cucumber Tests

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  cucumber-tests:
    name: Runs cucumber-tests
    runs-on: ubuntu-latest
    steps:
      - name: Pull Git repo.
        uses: actions/checkout@v2

      # pulling images is faster than caching in most of the case
      - name: pull available docker images first
        run: docker-compose pull -q

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build Docker Images
        run: |
          docker-compose build --quiet --parallel efiling-frontend efiling-api keycloak-config

      - name: Standup Docker Pods
        run: |
          docker-compose up -d redis clamav efiling-frontend efiling-api keycloak

      - name: Configure keycloak
        run: |
          docker-compose up keycloak-config

      - name: Running Integration Tests
        env:
          DOCKERIZE_VERSION: v0.6.1
        run: |

          # Maven requires chrome driver.
          wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt-get -qq -y install ./google-chrome-stable_current_amd64.deb

          # We need to test if efiling-api pod and service is running before we can proceed.  Using dockerize to proceed only after efiling-demo:8080 can be reached.
          wget -q https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
          tar -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz

          ./dockerize -wait http://127.0.0.1:8080/actuator/health -timeout 120s mvn verify -ntp -f tests/pom.xml

      # Upload Spark report for debugging purposes
      - name: Upload Spark report for debugging purposes
        uses: actions/upload-artifact@v2
        with:
          name: cucumber-spark-report
          path: ./tests/test-output/extent/Spark/Index.html

      # Upload Cucumber JSON for debugging purposes
      - name: Upload Cucumber JSON for debugging purposes
        uses: actions/upload-artifact@v2
        with:
          name: cucumber-json-report
          path: ./tests/target/cucumber-reports/CucumberTestReport.json
