name: Docker Image CI

on:
  workflow_dispatch:
    branches: [main, akroon3r-patch-2]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build the Docker image
      run: |

        docker-compose build efiling-demo
        docker tag jag-file-submission_efiling-admin:latest ${{ secrets.DOCKERHUB_ORG }}/efiling-admin:latest
        docker tag jag-file-submission_efiling-admin:latest ${{ secrets.DOCKERHUB_ORG }}/efiling-admin:dev
        docker push ${{ secrets.DOCKERHUG_ORG }}/efiling-admin
