name: Zap Baseline Scan

on: [workflow_dispatch]

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the eFiling Frontend Web Application
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'owasp/zap2docker-stable'
          target: 'https://test.justice.gov.bc.ca/efilinghub'
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
